!!!
%html
  %head
    %meta{body: "text/html; charset=UTF-8", "http-equiv": "Content-Type"}/
    %title ProfChat
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
  %body
    = render 'layouts/notification'
    = yield
